# VM-Konfiguration für {{ inventory_hostname }}
#
# Diese Jinja2-Vorlage beschreibt alle Parameter, die zum Anlegen einer
# virtuellen Maschine auf dem Proxmox-Zielsystem benötigt werden. Die Werte
# können bei Bedarf angepasst oder erweitert werden.

# Eindeutige ID der VM innerhalb des Proxmox-Clusters.
vmid: 9000

# Anzeigename der zu erstellenden VM.
name: autobotvm

# IP-Adresse oder Hostname des Proxmox-Knotens, auf dem die VM erstellt wird.
target_host: 192.168.188.101

# Name des vorhandenen Proxmox-Storages für die Systemfestplatte.
storage: dto-lvmthin

# Größe der Systemfestplatte.
disk_size: 100G

# Anzahl der vCPUs.
cores: 4

# Arbeitsspeicher der VM in MiB.
memory: 5000

# Netzwerkdefinitionen. Weitere Einträge können ergänzt werden.
networks:
  - virtio,bridge=vmbr0

# SMBIOS (type1) configuration for the VM.
smbios1:
  uuid: 2c269505-717e-490b-a1cb-a089cc71e9c8
  manufacturer: "Dell Inc."
  product: "PowerEdge R730"
