Report generated: {{ hostvars[ansible_play_hosts[0]].proxreport_data.creation_date | default('N/A') }}

{% for host in ansible_play_hosts %}
{% if hostvars[host].proxreport_data is defined %}
# {{ hostvars[host].ansible_host | default(host) }} - {{ hostvars[host].ansible_hostname }}
Proxmox version: {{ hostvars[host].proxreport_data.pve_version | join(', ') }}
Uptime: {{ hostvars[host].proxreport_data.uptime }}

## Storage
{{ hostvars[host].proxreport_data.storage_status | join('\\n') }}

## Network
{{ hostvars[host].proxreport_data.network_config | to_nice_yaml }}

## IP addresses
{{ hostvars[host].proxreport_data.ip_addresses | join('\\n') }}

## Block devices
{{ hostvars[host].proxreport_data.block_devices | join('\\n') }}

## CPU details
{{ hostvars[host].proxreport_data.cpu_details | join('\\n') }}

## Memory details
{{ hostvars[host].proxreport_data.memory_details | join('\\n') }}

## Virtual machines
{{ hostvars[host].proxreport_data.vm_list | join('\\n') }}
{% if not loop.last %}
\\newpage
{% endif %}
{% endif %}
{% endfor %}
